@using Microsoft.AspNet.Identity
@if (Session["UserID"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + Session["UserName"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="/Register/Logout"> Logout</a></li>
    </ul>
}
else
{
    @*<li>@Html.ActionLink("Registro", "Index", "Register")</li>*@
    <ul class="nav navbar-nav navbar-right">

        <li>@Html.ActionLink("Login", "index", "Register", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
