@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b>abctutorial</b>
    </div>
    <div>
        <pre style="font-size:15px;">
            Hola.
                 Usted necesita verificar el email para completar el registro
                click<a href="@ViewBag.ConfirmationLink">Aqui</a>
        </pre>
    </div>
</body>
</html>
