@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto Tópicos - MVC</h1>
    <p class="lead">Aplicación de registro de objetos perdidos</p>
    <p><a href="https://github.com/amoncada/topicosProyecto.git" class="btn btn-primary btn-lg">github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Isabel Angulo</h2>
    </div>
    <div class="col-md-4">
        <h2>Juan Diego Chavez</h2>
    </div>
    <div class="col-md-4">
        <h2>Vitor Escobar</h2>
    </div>
    <div class="col-md-4">
        <h2>Alfredo Moncada</h2>
    </div>
</div>